.category-list {
	display: grid;
	gap: var(--spc-lg);
}

.category-header {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.category-body {
	margin-top: var(--spc-md);
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
	gap: var(--spc-md);
}

.category-item {
}

.product-image {
	box-shadow: var(--shd-md);
	aspect-ratio: 3/4;
	border-radius: var(--br-md);
}

.product-title {
	font-size: var(--fs-md);
	margin-top: var(--spc-xs);
}
