@use './__variables' as variables;

:root {
	--header-height: 110px;

	--f-header: 'Caveat';
	--f-subheader: 'Caveat';
	--f-body: 'Poppins';
	--f-caption: 'Poppins';

	--fw-light: 300;
	--fw-regular: 400;
	--fw-bold: 700;
	--fw-black: 900;

	--fs-2xs: 0.5rem;
	--fs-xs: 0.75rem;
	--fs-sm: 0.875rem;
	--fs-md: 1rem;
	--fs-lg: 1.333rem;
	--fs-xl: 1.777rem;
	--fs-2xl: 2.369rem;
	--fs-3xl: 3.158rem;
	--fs-4xl: 4.21rem;

	--spc-2xs: 0.375rem;
	--spc-xs: 0.5rem;
	--spc-sm: 0.75rem;
	--spc-md: 1rem;
	--spc-lg: 1.5rem;
	--spc-xl: 2rem;
	--spc-2xl: 3rem;
	--spc-auto: auto;

	--br-2xs: 0.25rem;
	--br-xs: 0.375rem;
	--br-sm: 0.5rem;
	--br-md: 0.75rem;
	--br-lg: 1.5rem;
	--br-xl: 2.5rem;
	--br-2xl: 3.5rem;
	--br-round: 9999px;

	--shd-md: 0 1px 3px 0 rgb(0 0 0 / 0.4), 0 1px 2px -1px rgb(0 0 0 / 0.4);
	--shd-lg: 0 1px 3px 2px rgb(0 0 0 / 0.4), 0 1px 2px -1px rgb(0 0 0 / 0.4);

	--outline: 2px solid var(--clr-primary);
	--outline-offset: 3px;

	@each $color, $color-value in variables.$colors {
		--clr-#{$color}: #{$color-value};
		--clr-#{$color}--50: color-mix(in oklab, #{$color-value} 15%, white);
		--clr-#{$color}--100: color-mix(in oklab, #{$color-value} 30%, white);
		--clr-#{$color}--200: color-mix(in oklab, #{$color-value} 50%, white);
		--clr-#{$color}--300: color-mix(in oklab, #{$color-value} 70%, white);
		--clr-#{$color}--400: color-mix(in oklab, #{$color-value} 90%, white);
		--clr-#{$color}--500: #{$color-value};
		--clr-#{$color}--600: color-mix(in oklab, #{$color-value} 90%, black);
		--clr-#{$color}--700: color-mix(in oklab, #{$color-value} 70%, black);
		--clr-#{$color}--800: color-mix(in oklab, #{$color-value} 50%, black);
		--clr-#{$color}--900: color-mix(in oklab, #{$color-value} 30%, black);
		--clr-#{$color}--translucent: color-mix(in oklab, #{$color-value}, transparent 10%);
		--clr-#{$color}--transparent: color-mix(in oklab, #{$color-value}, transparent 90%);
	}
}
