* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: inherit;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

html {
	// color-scheme: dark light;
}

body {
	min-height: 100dvh;
	line-height: 1.5;
	letter-spacing: 0.06em;
	font-family: var(--f-body);
	color: var(--clr-neutral);
	background-color: var(--clr-background);
	font-size: var(--fs-md);
}

#app {
	min-height: 100dvh;
}

img {
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 1rem;
	height: auto;
	vertical-align: middle;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--f-header);
	font-weight: var(--fw-bold);
	line-height: 1.1;
}

h1 {
	font-size: var(--fs-4xl);
}

h2 {
	font-size: var(--fs-3xl);
}

h3 {
	font-size: var(--fs-2xl);
}

h4 {
	font-size: var(--fs-xl);
}

h5 {
	font-size: var(--fs-lg);
}

h6 {
	font-size: var(--fs-md);
}

a {
	text-decoration: none;
	color: var(--clr-neutral);
	text-underline-offset: 3px;
}
