$sizes: ('2xs', 'xs', 'sm', 'md', 'lg', 'xl', '2xl');
$font-sizes: ('2xs', 'xs', 'sm', 'md', 'lg', 'xl', '2xl', '3xl', '4xl');
$spacing-sizes: ('2xs', 'xs', 'sm', 'md', 'lg', 'xl', '2xl', 'auto');
$sides: (
	'top': 't',
	'bottom': 'b',
	'left': 'l',
	'right': 'r',
	'block': 'y',
	'inline': 'x'
);
$colors: (
	'primary': #eec9cb,
	'secondary': #fef1f1,
	'accent': #000000,
	'text': #3d3d3d,
	'background': #e1e9ec,
	'success': #22c55e,
	'danger': #ef4444,
	'warning': #eab308,
	'info': #0ea5e9
);
$color-shades: ('100', '200', '300', '400', '500', '600', '700', '800', '900', 'opaque', 'transparent');
