.input-wrapper {
	--_clr-label: var(--clr-text--700);
	position: relative;

	&:focus-within {
		--_clr-label: var(--clr-accent);
	}
}

.input-label {
	color: var(--_clr-label);
	line-height: 1;
	font-size: var(--fs-sm);
	position: absolute;
	margin: var(--spc-xs) var(--spc-sm);
	pointer-events: none;
}

.input {
	border: none;
	outline: none;
	padding-top: calc(var(--fs-md) + var(--spc-sm));
	padding-bottom: var(--spc-xs);
	padding-inline: var(--spc-sm);
	border-radius: var(--br-xs);
	width: 100%;
	background-color: var(--clr-text--100);
	line-height: 1;

	&:focus {
		outline: var(--outline);
		outline-offset: var(--outline-offset);
	}
}
