header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--clr-white--translucent);
	z-index: 1000;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--spc-xl);
	padding-block: var(--spc-md);
}

.header-nav--left {
	display: flex;
	list-style: none;
	gap: var(--spc-xl);
}

.header-nav--right {
	display: flex;
	list-style: none;
	gap: var(--spc-xl);
}

.nav-link:hover {
	text-decoration: underline;
	text-underline-offset: 3px;
}

.main-logo-wrapper {
	cursor: pointer;
}

.main-logo {
	width: 240px;
	min-width: 10rem;
}
