.auth-wrapper {
	display: grid;
	place-items: center;
	min-height: 100dvh;
	padding: var(--spc-md);
}

.auth-card {
	width: min(90%, 26rem);
	padding: var(--spc-xl) var(--spc-xl) var(--spc-2xl);
	border-radius: var(--br-lg);
	text-align: center;
}
