.text-button {
	--_clr-neutral: var(--clr-neutral--500);

	position: relative;
	border: none;
	background-color: transparent;
	color: var(--_clr-neutral);
	text-decoration: underline;
	text-underline-offset: 3px;
	cursor: pointer;

	&:focus-visible {
		outline: var(--outline);
		outline-offset: var(--outline-offset);
	}

	&:active {
		filter: brightness(80%);
	}

	&.text-button--primary {
		--_clr-background: var(--clr-primary);
		--_clr-neutral: var(--clr-primary--900);
	}

	&.text-button--secondary {
		--_clr-background: var(--clr-secondary);
		--_clr-neutral: var(--clr-secondary--100);
	}

	&.text-button--accent {
		--_clr-background: var(--clr-accent);
		--_clr-neutral: var(--clr-accent--900);
	}

	&.text-button--success {
		--_clr-background: var(--clr-success);
		--_clr-neutral: var(--clr-success--900);
	}

	&.text-button--danger {
		--_clr-background: var(--clr-danger);
		--_clr-neutral: var(--clr-danger--100);
	}

	&.text-button--warning {
		--_clr-background: var(--clr-warning);
		--_clr-neutral: var(--clr-warning--900);
	}

	&.text-button--info {
		--_clr-background: var(--clr-info);
		--_clr-neutral: var(--clr-info--100);
	}
}
