.hero-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.section-item-list {
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--spc-2xl) * 2);
	justify-content: center;

	.section-info {
		flex: 1 1 20rem;
		display: flex;
		flex-direction: column;
		gap: var(--spc-md);
		align-items: start;
		container-type: inline-size;

		> * {
			@container (min-width: 400px) {
				width: 100%;
				text-align: center;
			}
		}
	}

	.item-list {
		display: grid;
		grid-auto-flow: dense;
		grid-auto-rows: auto auto auto;
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
		gap: var(--spc-2xl);
		flex: 0 1 45rem;
	}

	.item {
		display: grid;
		grid-row: span 3;
		gap: var(--spc-sm);
		grid-template-rows: subgrid;
	}

	.item-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		aspect-ratio: 3/4;
	}
}

.section-categories {
	.category-list {
		display: flex;
		flex-wrap: wrap;
		gap: var(--spc-2xl);
		justify-content: space-around;
	}

	.category-item {
		flex: 1;
		display: grid;
		place-items: center;
		min-width: 200px;
		max-width: 350px;
		container-type: inline-size;
	}

	.category-content {
		text-align: center;
		display: grid;
		place-items: center;
		position: relative;

		&::before,
		&::after {
			content: '';
			position: absolute;
			background-size: contain;
			background-repeat: no-repeat;
			aspect-ratio: 1;
			z-index: -1;
		}

		&[data-index='1'] {
			&::before {
				background-image: url('@/assets/images/sample/flower2.png');
				width: 120%;
				top: -30%;
				right: 10%;
			}

			&::after {
				background-image: url('@/assets/images/sample/flower1.png');
				width: 38%;
				right: -20%;
				bottom: 10%;
				rotate: 8deg;
			}
		}

		&[data-index='2'] {
			&::before {
				background-image: url('@/assets/images/sample/flower2.png');
				width: 50%;
				left: -30%;
				bottom: 5%;
			}

			&::after {
				background-image: url('@/assets/images/sample/flower1.png');
				width: 110%;
				right: -50%;
				bottom: 5%;
				rotate: 8deg;
			}
		}

		&[data-index='3'] {
			&::before {
				background-image: url('@/assets/images/sample/flower2.png');
				width: 110%;
				top: -25%;
				right: -80%;
			}

			&::after {
				background-image: url('@/assets/images/sample/flower1.png');
				width: 100%;
				left: -70%;
				bottom: -25%;
				rotate: 8deg;
			}
		}

		&[data-index='4'] {
			&::after {
				background-image: url('@/assets/images/sample/flower1.png');
				width: 150%;
				right: -50%;
				bottom: 12%;
				rotate: 8deg;
			}
		}
	}

	.category-content--sm {
		width: 80%;
	}
}

.section-journal {
	.item-list {
		grid-auto-rows: auto auto;
	}

	.item {
		grid-row: span 2;
	}
}

.section-story-wrapper {
	background-image: url('@/assets/images/sample/bg-story.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: var(--clr-black--100);
	background-blend-mode: multiply;
	display: grid;
	place-content: center;
}

.section-story {
	padding: calc(var(--spc-2xl) * 2) var(--spc-md);
	width: min(35rem, 100%);
	text-align: center;
	color: var(--clr-white);
}
